body{
  background-color: orange;
  color: white;
  padding: 2rem;
  margin: 2rem;
}

ol {
  background-color: cyan;
  padding: 1rem;

}

li {
  color: white;
  font-size: 1rem;
}

footer{
  background-color: black;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

strong {
  color: saddlebrown;
  font-size: 1.2rem;
}

.one{
  display: inline-block;
}

.image-container {
  display: flex;
  background-color: lime;
  padding: 1rem;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

button{
  color: black;
  background-color: white;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;

}

.two {

}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
a{
  text-decoration: none;
}
